<nav class="navbar navbar-light bg-light pt-5 ">
    <div class="container-fluid d-flex align-items-end">
        <a class="navbar-brand logo d-flex align-items-end" href="/"><img src="/assets/Logo/logo1.png" alt=""
                class="pe-3"> Rate My Workplace</a>
        <form class="d-flex">
            <a class="nav-link link-secondary" href="/query/resources">Resources</a>
            {{#if logged_in}}
            <a class="nav-link link-secondary" id='logout-button' href="">Logout</a>
            {{else}}
            <a class="nav-link link-secondary" href="/login">Log in/Sign up</a>
            {{/if}}
            <a class="nav-link link-secondary" href="/query/companies">Company List</a>
            <a class="nav-link link-secondary" href="/query/about-us">About Us</a>
        </form>
    </div>
</nav>

<main class="justify-content-center mainBody my-5 mx-5">
    <div class="row">
        <img class="col-sm-6" src={{company.logo_url}} alt={{company.name}}>
        <div class="card col-sm-6 bg-light">
            <div class="card-body text-center position-absolute top-50 start-50 translate-middle">
                <h1>{{company.name}}</h1>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="card col-sm-5 mx-5 bg-light">
            <div class="card-body text-center">
                <h2>Industry: {{company.industry}}</h2>
            </div>
        </div>
        <div class="card col-sm-5 mx-5 bg-light">
            <div class="card-body text-center">
                <h2>HQ Location: {{company.location}}</h2>
            </div>
        </div>
    </div>

    {{#if reviews.length}}
    <div>
        {{!-- review list populates here --}}
        <h1 class="text-center">Number Ratings are out of 5.</h1>      
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Review Title</th>
                    <th scope="col">Safety Culture</th>
                    <th scope="col">Safety Training</th>
                    <th scope="col">Hazard Identification</th>
                    <th scope="col">Does This Company Have Designated Safety Managers?</th>
                    <th scope="col">Leadership Emphasis on Safety</th>
                    <th scope="col">Additional Comments</th>
                </tr>
            </thead>
            {{#each reviews as |review|}}
            <tbody>
                <tr>
                    <th scope="row">{{review.title}}</th>
                    <td>{{review.safety_culture}}</td>
                    <td>{{review.safety_training}}</td>
                    <td>{{review.hazard_id}}</td>
                    <td>{{review.safety_manager}}</td>
                    <td>{{review.lead_emphasis}}</td>
                    <td>{{review.contents}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>

    {{else}}
        <div class="text-center">
            <h2>No Current Reviews, Be the First To Add One!</h2>
        </div>
    {{/if}}
</main>

<div class="row">
    <button class="btn btn-secondary col-sm-5 mx-5" href="https://www.osha.gov/pls/osha7/eComplaintForm.html"
        class="mx-5" target="_blank">
        Report
    </button>
    <button class="btn btn-secondary col-sm-5 mx-5" class="mx-5">
        <a href="/query/reviews/{{company.id}}" class="nav-link link-light">
        Add a review
        </a>
    </button>
</div>
{{!-- {{company}} --}}